<section>
    <% if @user.can_create_entry? %>
        <%= link_to 'Add Entry', new_entry_path %>
    <% else %>
        <h1>Looks like you've already created an entry for today. Don't forget to create a new one tomorrow!</h1>
    <% end%>

    <% @entries.each do | entry | %>
        <h2><%= entry.created_at %></h2>
        <% entry.subentries.each do | subentry | %>
            <p><%= subentry.cat.name %> | <%= subentry.status.name %></p>
        <% end %>
    <% end %>
</section>
