/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

$nav-link-padding-y: 1rem;
$nav-link-padding-x: 1rem;

// Badges
$badge-font-size:                   87.5%;
$badge-font-weight:                 normal;
$badge-padding-y:                   .4em;
$badge-padding-x:                   .4em;

@import 'bootstrap';

$bg: #fafafa;
$white: #fff;

html,
body {
    background: $bg;
}

.nav {
    background: $white;
    margin-bottom: 30px;
}

main {
    margin-bottom: 30px;
}

.alert-container {
    margin-bottom: 30px;
}

.alert-container .alert:last-child {
    margin-bottom: 0;
}

.cat-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #fafafa;

    // Positional styles
    &:not( :last-child ) {
        margin-right: 1rem;
    }
}
